body {
  font-family: sans-serif;
  --border-primary: lightgray;
  --text-primary: #06283d;
  --text-secondary: #47b5ff;
  --text-tertiary: #256d85;
}

/* Ids */
#app {
  display: flex;
  justify-content: center;
}

#container {
  padding: 2rem;
  padding-bottom: 6rem;
  width: 60%;
  min-height: 80vh;
}

#filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
}

/* Classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paddedCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  font-weight: 300;
  color: var(--text-primary);
}

.error {
  color: var(--text-tertiary);
}

.noMargin {
  margin: 0;
}

.marginRight {
  margin-right: 0.2rem;
}

.prompt {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: var(--text-tertiary);
}
