body {
  font-family: sans-serif;
  --border-primary: lightgray;
  --text-primary: #06283d;
  --text-secondary: #47b5ff;
  --text-tertiary: #256d85;
}

.app {
  display: flex;
  justify-content: center;
}

.container {
  padding: 2rem;
  padding-bottom: 6rem;
  width: 60%;
  min-height: 80vh;
  border: 2px solid;
  border-color: var(--border-primary);
  border-radius: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-weight: 300;
  color: var(--text-primary);
}

.error {
  color: var(--text-tertiary);
}

.noMargin {
  margin: 0;
}

.paddedCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.vizSize {
  height: 400px;
  width: 90%;
  margin-top: 1rem;
  border: 2px solid;
  border-color: var(--border-primary);
  border-radius: 1rem;
}

.headlines {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.headline {
  display: block;
  border: 2px solid;
  border-color: var(--border-primary);
  border-radius: 1rem;
  padding: 1rem;
}

.headline .title {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.headline .value {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-tertiary);
}

.prompt {
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: 8px;
  color: var(--text-tertiary);
}

.react-daterange-picker__range-divider {
  display: none;
}
