.app {
  display: flex;
  justify-content: center;
}

.container {
  padding: 2rem;
  padding-bottom: 6rem;
  width: 60%;
  border: 2px solid beige;
  border-radius: 4px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 300;
}

.paddedCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.vizSize {
  height: 400px;
  width: 90%;
  margin-top: 1rem;
  border: 2px solid black;
}

.headlines {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.headline {
  display: block;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1rem;
}

.headline .title {
  font-size: 1em;
}

.headline .value {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prompt {
  font-weight: 300;
  font-size: 1.2rem;
  margin-right: 8px;
}

.react-daterange-picker__range-divider {
  display: none;
}
