.app {
  display: flex;
  justify-content: center;
}

.container {
  padding: 2rem;
  width: 60%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paddedCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.headlines {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.headline {
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
}

.headline .title {
  font-size: 1em;
}

.headline .value {
  font-size: 1.2em;
  font-weight: bolder;
}
